body{background-image: url(../5518891.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px;;
    margin: 0  ;
    margin-bottom: 10px;

    border: 1px solid black;}
.mypic{
    width: 200px;
    
}
footer{
    background-color: lightgreen;
    position: static;bottom: 0;
    width: 100%;
}