* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* box-sizing: border-box; */
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color : #154c79;
    --secondary-color : #4cd22b;
    --text-font:"Roboto", sans-serif;
    --heading-font:"Arial", sans-serif;
}


html{
    font-size: 62.5%;
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  min-height: 100vh;
  background-color: rgb(156, 248, 248);
}


#nav {
  width: 90%;
  background-color: blueviolet;
  margin: 0px auto;
  height: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

h1 {
  color: red;
  font-family: var(--heading-font);
}

#first-div,
#second-div {
  width: 50%;
  height: 300px;
  background-color: blueviolet;
  color: white;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin: 30px 20px;
  margin: 20px;
  margin: 30px 25px 30px 20px;
  /* margin-top: 15px; */
  /* padding: 10px; */
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 12px;
  padding: 15px 40px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  border: 7px solid gray;
  border-radius: 50%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0,0, 0.6);
}

#new-div-one {
  /* absolute units (px, inch (in), cm) */
  /* relative units (%--parent, vw (viewport width), vh(viewport height) */
  width: 70%;
  height: 500px;
  margin-bottom: 330px;
  background-color: cadetblue;
  border: 3px solid black;
  padding: 10px;
  overflow: hidden;
  font-size: 3rem;
  
}
/*
rem --> relative to root font size 
em --> relative to parent font size
*/
div > p {
    color:brown;
    font-size: 2em;
    font-weight: 800;
}


.class-a{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: rgb(100, 125, 0);
    background-color: rgb(100, 125, 0, .5 );
    background-color: #0000ff;
    background-color: var(--main-color) ;
    background-color: hsl(207, 70, 28);
    background-color: #ffaabb;
    background-color: #fab;
    background-color: #000;
    background-color: #fff;
    /* background-image: url(https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp); */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: center center;
    /* background-attachment (self study) */ 
}

.class-a p{
    font-family:var(--text-font);
    font-size: 50px;
    line-height: 1.5;
    /* text-decoration: overline;
     */
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 15px;
}
/* a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-decoration: none;
    font-weight: 800;
    text-shadow: -5px -5px 3px rgba(0,0,0,0.5);
} */

ol li{

    font-size: 20px;
    /* list-style-type: lower-roman ; */
    
}

ol li::before {
    content: "> ";
}

/* a:visited{
    font-size: 5rem;
    color: #fab;
} */

.blocks-container{
    width: 100%;
    height: 200px;
    background-color: #4cd22b;
}
/* 

  .block-ele{
    display: inline;
    width:20%;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 3rem;
    margin: 10px;
    padding: 5px;
    background-color: rgb(7, 56, 56);
}   */

.block-ele{
    display: inline-block;
    width:20%;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(7, 56, 56);
}
span{
    font-size: 4rem;
}

.inline-container{
    background-color: bisque;
}
.inline-container a{
    display: inline-block;
    background-color: #154c79;
    color: white;
    font-size: 2rem;
    width: 80px;
    margin: 8px;
    text-align: center;
}

.inline-container a:hover{
    background-color:#a5cded ;
    color: #000;
}


/* positions ==> static, relative, absolute, sticky, fixed */

.big-container{
    position: relative;
    width: 100%;
    background-color: #a5cded;
    min-height: 100vh;
}
.position-container{
    position: relative;
    width: 90%;
    background-color: burlywood;
    height: 300px;
    margin:10px ;
}
.position-child{
    position: static;
    font-size: 3rem;
    width: 100px;
    height: 100px;
    background-color: #4cd22b;

}

.static{
    position: static; 
}

.relative{
    position: relative;
    width:500px;
    top: 30px;
    right: -10rem;
}

.absolute{
    /* display: none; */
    position: absolute;
    width:500px;
    top: -300px;
    left: 200px;
    z-index: 1;
    background-color: red;
}

.fixed{
    position:fixed;
    background-color: blueviolet;
    color: white;
    font-weight: 800;
    right:10px;
    bottom:10px;
    z-index: 999;
}

.sticky{
 position: sticky;
 top:0;
 background-color: red;   
}